* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.header {
    margin: auto;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2f3841;
}

.back {
    display: inline-block;
    padding: 5px 10px;
    color: #007bff;
    /* Warna teks */
    text-decoration: none;
    /* Menghapus garis bawah dari tautan */
    border-radius: 5px;
    /* Menggunakan sudut lengkung untuk tombol */
}

.back:hover {
    color: #0056b3;
    /* Warna teks saat digulir mouse */
}

/* CSS untuk tombol "Delete" */
.delete-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff5555;
    /* Warna latar belakang */
    color: white;
    /* Warna teks */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    vertical-align: middle;
}

.delete-btn:hover {
    background-color: #ff0000;
    /* Warna latar belakang saat di-hover */
}


.right {
    display: flex;
    align-items: center;
}

.list-cart {
    height: 80%;
    /* Atur tinggi maksimum di sini */
    overflow-y: auto;
    /* Tambahkan overflow-y untuk scrollbar vertikal */
    border: 1px #202020;
    background-color: #fff;

}

.cart-item {
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead th {
    background-color: #f2f2f2;
}

.image-box {
    width: 20%;
    text-align: center;
    margin-right: 10px;
}

.about {
    height: 100%;
}

.about h1 {
    padding-top: 5px;
    font-size: 32px;
    font-weight: 800;
    color: #202020;
}

.about p {
    font-size: 10px;
    font-weight: 600;
    color: #909090;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.counter .count {
    font-size: 20px;
    font-weight: 900;
    color: #202020;
}

.price {
    text-align: right;
    align-items: center;
}

.price h3 {
    font-weight: 800;
    color: #202020;
}

.remove {
    color: #ff0000;
    /* Warna teks merah untuk tautan hapus */
    text-decoration: none;
    /* Menghapus garis bawah dari tautan */
}

.remove:hover {
    text-decoration: underline;
    /* Tambahkan garis bawah saat tautan dihover */
}


.footer {
    margin: auto;
    width: 90%;
    height: 7%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #2f3841;
}

.footer h3 {
    padding-right: 10px;
}




/* CSS untuk tombol "Process" */
.process-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.process-btn:hover {
    background-color: #45a049;
}


.empty {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin: 20px 0;
}

@media screen and (max-width: 968px) {
    .container {
        width: 90%;
    }

    .left h3 {
        font-size: 14px;
    }
    .back {
        font-size: 12px;
        display: inline-block;
        padding: 5px 10px;
        color: #007bff;
        /* Warna teks */
        text-decoration: none;
        /* Menghapus garis bawah dari tautan */
        border-radius: 5px;
        /* Menggunakan sudut lengkung untuk tombol */
    }

    .delete-btn {
        display: inline-block;
        padding: 3px 7px;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #ff5555;
        /* Warna latar belakang */
        color: white;
        /* Warna teks */
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        vertical-align: middle;
    }
    
    th,td {
        font-size: 10px;
    }

    h3 {
        font-size: 15px;
    }

    .image-box img {
        width: auto; /* or remove width property */
        height: auto; /* or remove height property */
        max-width: 50px;
        max-height: 50px;
        object-fit: contain; /* or remove object-fit property */
    }

    .about p {
        display: none;
    }
}